/* Icons from directory "" */
.icon-icones-svg-01,.icon-icones-svg-01\:regular{
	background-image:url('icons/icons.svg');
	background-position:0 0;
	background-repeat:no-repeat}
.icon-icones-svg-01-dims{width:41px;height:41px}
.icon-icones-svg-02,.icon-icones-svg-02\:regular{
	background-image:url('icons/icons.svg');
	background-position:0 -41px;
	background-repeat:no-repeat}
.icon-icones-svg-02-dims{width:41px;height:41px}
.icon-icones-svg-03,.icon-icones-svg-03\:regular{
	background-image:url('icons/icons.svg');
	background-position:0 -82px;
	background-repeat:no-repeat}
.icon-icones-svg-03-dims{width:41px;height:41px}
.icon-icones-svg-04,.icon-icones-svg-04\:regular{
	background-image:url('icons/icons.svg');
	background-position:0 -123px;
	background-repeat:no-repeat}
.icon-icones-svg-04-dims{width:41px;height:41px}

.social_icon_b2_svg {
  background: url('icons/icons.svg') no-repeat;
  width: 41px;
  height: 41px;
  display: inline-block;
  text-indent: -20000px;
}

.social_icon_b2_svg.social_icon_link_linked_svg {
  background-position:0 -41px;
}
.social_icon_b2_svg.social_icon_link_linked_svg:hover {
  background-position:0 0;
}
.social_icon_b2_svg.social_icon_link_instagram_svg {
  background-position:0 -123px;
}
.social_icon_b2_svg.social_icon_link_instagram_svg:hover {
  background-position:0 -82px;
}