/* Icons from directory "" */
.icon-icones-svg-01,.icon-icones-svg-01\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-icones-svg-01-dims{width:41px;height:41px}
.icon-icones-svg-02,.icon-icones-svg-02\:regular{background-image:url('icons/icons.png');background-position:0 -41px;background-repeat:no-repeat}
.icon-icones-svg-02-dims{width:41px;height:41px}
.icon-icones-svg-03,.icon-icones-svg-03\:regular{background-image:url('icons/icons.png');background-position:0 -82px;background-repeat:no-repeat}
.icon-icones-svg-03-dims{width:41px;height:41px}
.icon-icones-svg-04,.icon-icones-svg-04\:regular{background-image:url('icons/icons.png');background-position:0 -123px;background-repeat:no-repeat}
.icon-icones-svg-04-dims{width:41px;height:41px}