/* Icons from directory "" */
.icon-email_off,.icon-email_off\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-email_off-dims{width:41px;height:41px}
.icon-email_on,.icon-email_on\:regular{background-image:url('icons/icons.png');background-position:0 -41px;background-repeat:no-repeat}
.icon-email_on-dims{width:41px;height:41px}
.icon-facebook_off,.icon-facebook_off\:regular{background-image:url('icons/icons.png');background-position:0 -82px;background-repeat:no-repeat}
.icon-facebook_off-dims{width:41px;height:41px}
.icon-faqcebook_on,.icon-faqcebook_on\:regular{background-image:url('icons/icons.png');background-position:0 -123px;background-repeat:no-repeat}
.icon-faqcebook_on-dims{width:41px;height:41px}
.icon-twitter_off,.icon-twitter_off\:regular{background-image:url('icons/icons.png');background-position:0 -164px;background-repeat:no-repeat}
.icon-twitter_off-dims{width:41px;height:41px}
.icon-twitter_on,.icon-twitter_on\:regular{background-image:url('icons/icons.png');background-position:0 -205px;background-repeat:no-repeat}
.icon-twitter_on-dims{width:41px;height:41px}