/* Icons from directory "" */
.icon-email_off,.icon-email_off\:regular{
	background-image:url('icons/icons.svg');
	background-position:0 0;
	background-repeat:no-repeat}
.icon-email_off-dims{width:22px;height:22px}
.icon-email_on,.icon-email_on\:regular{
	background-image:url('icons/icons.svg');
	background-position:0 -22px;
	background-repeat:no-repeat}
.icon-email_on-dims{width:22px;height:22px}

.icon-facebook_off,.icon-facebook_off\:regular{
	background-image:url('icons/icons.svg');
	background-position:0 -44px;
	background-repeat:no-repeat}
.icon-facebook_off-dims{width:22px;height:22px}
.icon-faqcebook_on,.icon-faqcebook_on\:regular{
	background-image:url('icons/icons.svg');
	background-position:0 -66px;
	background-repeat:no-repeat}
.icon-faqcebook_on-dims{width:22px;height:22px}

.icon-twitter_off,.icon-twitter_off\:regular{
	background-image:url('icons/icons.svg');
	background-position:0 -88px;
	background-repeat:no-repeat}
.icon-twitter_off-dims{width:22px;height:22px}
.icon-twitter_on,.icon-twitter_on\:regular{
	background-image:url('icons/icons.svg');
	background-position:0 -110px;
	background-repeat:no-repeat}
.icon-twitter_on-dims{width:22px;height:22px}

/*small*/
.social_icon_s_svg {
  background: url('icons/icons.svg') no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
  text-indent: -20000px;
}

.social_icon_link_fb_svg {
  background-position:0 -44px;
}
.social_icon_link_fb_svg:hover {
  background-position:0 -66px;
}
/*.social_icon_link_google_svg {
  background-position: -31px -96px;
}
.social_icon_link_google_svg:hover {
  background-position: -31px -125px;
}*/
.social_icon_link_email_svg {
  background-position:0 0;
}
.social_icon_link_email_svg:hover {
  background-position:0 -22px;
}
.social_icon_link_twitter_svg {
  background-position:0 -88px;
}
.social_icon_link_twitter_svg:hover {
  background-position:0 -110px;
}